.product_container {
    margin: 50px 0;
  }
  
  .bigcontainer {
    border-radius: 5px;
    width: 99%;
    box-shadow: 0px 0px 18px rgb(33 33 33 / 20%);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(7, 1fr);
    background-color: white;
    margin: auto;
  }
  
  .smallcontainer {
    background-color: white;
    text-align: center;
  }
  
  .smallcontainer > div:hover {
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 30%);
  }
  
  .smallcontainer img {
    max-width: 100%;
    margin: 20px 0;
    height: 120px;
    opacity: 1;
    transform: scale(1);
    animation: Cards_apear__SREkU 0.3s ease-in-out;
  }
  
  .smallcontainer > a > div {
    font-size: 14px;
    height: 45px;
    color: #212121;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .bigcontainer .smallcontainer a {
    text-decoration: none;
    color: black;
    margin: 5px 0;
    margin-bottom: 34px;
    margin: 0;
  }
  
  .featuredbrand {
    width: 85%;
    border: 1px solid yellow;
    display: flex;
    margin: auto;
    margin-left: 9%;
  }
  
  .featuredbrand .brand-1 {
    margin: 2%;
  }
  .cat-title {
    height: 30px;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  .style__heading___pc8n7 {
    font-size: 18px;
    color: #212121;
  }
  button {
    background-color: rgb(255, 127, 97);
    color: white;
    border: 0px;
    -ms-text-size-adjust: auto;
    border-radius: 5px;
    width: 80px;
    height: 39px;
  }
  
  .smallcontainer:hover {
    box-shadow: 0px 0px 18px rgba(33, 33, 33, 0.2);
    border-radius: 10px;
    text-align: center;
  }
  
  .smallcontainer {
    max-width: 100%;
  }

  /* ******************************************************************************************* */

  .maincontainer {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 14%);
    display: grid;
    grid-gap: 20px;
    justify-content: center;
  }
  .container {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(7, 165px);
  }
  
  .card {
    width: 200px;
    padding: 10px 10px 15px;
    position: relative;
    width: auto;
  }
  
  .card:hover {
    /* border:2px solid black; */
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 30%);
    height: auto;
  }
  
  .card-image {
    background: #fff;
    display: block;
    height: 165px;
    margin: 10px 0;
    width: 100%;
    position: relative;
  }
  
  .card-image > img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
    transform: scale(1);
    animation: Cards_apear__SREkU 0.3s ease-in-out;
  }
  
  .card-title {
    font-size: 14px;
    color: #212121;
    margin-bottom: 3px;
    max-height: 34px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
  }
  
  .card-info {
    font-size: 12px;
    color: #757575;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
  }
  
  .card-rating {
    display: flex;
  }
  
  .card-rating > span:nth-of-type(1) {
    background-color: #1aab2a;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    padding: 1px 5px;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
  }
  
  .card-rating > span:nth-of-type(1) > svg {
    width: 12px;
    height: 12px;
    margin-left: 2px;
  }
  
  .card-rating > span:nth-of-type(2) {
    display: inline-block;
    color: rgba(0, 0, 0, 0.58);
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
  }
  
  .card-mrp > span:nth-of-type(1) {
    display: inline-block;
    font-size: 12px;
    color: #757575;
    margin-right: 2px;
  }
  
  .card-mrp > span:nth-of-type(2) {
    margin-right: 5px;
    text-decoration: line-through;
    display: inline-block;
    font-size: 12px;
    color: #757575;
  }
  
  .card-discount {
    font-size: 11px;
    color: #1aab2a;
  }
  
  .card-price > span {
    display: inline-block;
    font-size: 16px;
    color: #212121;
  }
  
  .sunny {
    height: 30px;
    width: 300px;
    margin-left: 38px;
    margin-top: 30px;
  }
  .topdeal {
    font-size: 18px;
    color: #212121;
    margin-left: -45%;
  }